body {
  background-color: #042A2B;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  }

#foto { 
  position: fixed;
  border-radius: 100%;
  justify-content: right;
  Display: inline-block;
  Margin-left: 60%
  }

h1 {
  background-color: #413D40;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5cm;
  text-align: center;
  border-radius: 3cm;
  }

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify; 
  border-width: 2cm;
  border-radius: 5cm;
  font-style: italic;
  }
  
h3 {
  background-color: #931119;
  }
  