body {
  background-color: #042A2B;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background-image: ;
  }

#foto { 
  position: absolute;
  border-radius: 100%;
  Display: inline-block;
  Margin-left: 60%
  }
#indice 
  {
  text-decoration: none;
  position: relative;
  padding: 0.7cm;
  border: 3px solid black;
  left: 120px;
  width: 30%;
  resize: both;
  }

#habil 
  {
  border: 3px solid black;
  width: 40%;
  resize: both;
  padding: 0.7cm;
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 400px;
  }

h2 #links
  {
    position: absolute;
    top: 800px;
    left: 45%;
    text-decoration: none;
  }

h1 {
  background-color: #413D40;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5cm;
  text-align: center;
  border-radius: 3cm;
  position: sticky;
  top: 0;
  z-index: 1;
  }

h2 #descricao {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  font-style: italic;
  font-size: 17px;
  position: relative;
  left: 60%;
  top: 15px;
  width: 30%;
  resize: both;
  display: inline-block;
  }

h3 {
  background-color: #931119;
  }